<!-- templates/log_in.html -->
{% extends 'base_content.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Log In</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        
        <!-- Render the form using the bootstrap_form partial -->
        {% include 'partials/bootstrap_form.html' with form=form %}
        
        <button type="submit" class="btn btn-primary">Log In</button>
        <a href="{% url 'home' %}" class="btn btn-link">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
