<!-- templates/tutor_profile.html -->

{% extends 'base_content.html' %}

{% block content %}
    <h2>Update Teaching Profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.languages.label_tag }}
            {{ form.languages }}
            {{ form.languages.errors }}
        </div>
        <div class="form-group">
            {{ form.specializations.label_tag }}
            {{ form.specializations }}
            {{ form.specializations.errors }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}
